
body {
    background-image: url("assets/main_background.jpg");
}

#page_tab {
    background: rgba(235, 247, 212, 0.6);
    text-align: left;
    font-size: 0px;
    margin: auto;
}

#contact {
    text-align: right, top;
    font-size: 14px;
}


#topnav {
    background: linear-gradient(to right, #094226, #47853F);
    height: 40px;
}